*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

li .active {
  background-color: #04AA6D;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/img-bg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img-bg.jpg");
  background-size: cover;
  font-family: "sans serif";
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

header {
  background-color: #052426;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin-left: 37%;
}

header img {
  width: 50px;
  margin-left: 30px;
}

i {
  color: #080710;
  -webkit-transform: scale(3);
          transform: scale(3);
  margin-left: 5%;
}

.container {
  margin-top: 2%;
  background-color: #f0eef1;
  width: 80%;
  margin-left: 10%;
  height: 80vh;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #51bfd0;
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
}

.head h1 {
  width: 60%;
  margin-left: 25%;
  text-transform: uppercase;
}

.head a {
  text-decoration: none;
  text-align: center;
  margin-left: 5%;
  padding: 0.5rem 0.5rem;
  background-color: #59d9e2;
  border: none;
  color: white;
  width: 10%;
  font-size: 1.2rem;
}

.head a:hover {
  background-color: #f0eef1;
  color: #51bfd0;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.left, .right {
  margin-top: 3%;
  width: 55%;
  background-color: white;
  height: 60vh;
}

.left {
  width: 35%;
  height: 50vh;
}

.left_head {
  background-color: #51bfd0;
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_head img {
  padding: 2%;
  margin-left: 10%;
  margin-right: 3%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid;
}

.left_body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65%;
}

.setting {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: none;
  color: gray;
}

.setting img {
  width: 40px;
  margin-right: 5%;
}

.setting small {
  font-size: 1.3rem;
  margin-left: 5%;
}

.setting:hover {
  border-left: 5px solid green;
  background-color: #f1eaea;
}

.setting:hover img[alt="plus"] {
  content: url("../img/ic-ajout-active.png");
}

.setting:hover img[alt="list"] {
  content: url("../img/ic-liste-active.png");
}

.right h1 {
  text-align: center;
  color: gray;
  font-style: italic;
  font-size: 1.2rem;
  margin: 2% 0;
}

.list_players {
  width: 80%;
  margin-left: 10%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list_players table {
  padding: 1%;
  color: gray;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid #51bfd0;
  width: 100%;
  height: 88%;
}

.list_players table th {
  text-align: start;
}

.list_players a {
  width: 20%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-decoration: none;
  text-align: center;
  margin-left: 5%;
  padding: 0.5rem 0.5rem;
  background-color: #59d9e2;
  border: none;
  color: white;
  width: 10%;
  font-size: 1.2rem;
}

.list_players a:hover {
  background-color: #f0eef1;
  color: #51bfd0;
}

.containerFormRegistration {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 2%;
}

.containerFormRegistration .the_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 90%;
}

.containerFormRegistration .the_avatar img {
  margin-left: 2%;
  color: gray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #51bfd0;
}

.containerFormRegistration form {
  height: 100%;
  width: 60%;
  color: white;
}

.containerFormRegistration form .loginForm {
  background-color: white;
  color: gray;
  margin-bottom: 2%;
  border-bottom: 1px solid rgba(109, 107, 107, 0.7);
  height: 8%;
}

.containerFormRegistration form .loginForm h3, .containerFormRegistration form .loginForm p {
  margin-left: 5%;
}

.containerFormRegistration form .loginForm h3 {
  text-transform: uppercase;
}

.containerFormRegistration form label {
  display: block;
}

.containerFormRegistration form input {
  padding: 0.4rem;
  border-radius: 8px;
  border: none;
  width: 100%;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: inset 0 0 4px 4px #f0eef1;
          box-shadow: inset 0 0 4px 4px #f0eef1;
}

.containerFormRegistration form input:hover {
  border: 1px solid #51bfd0;
  -webkit-box-shadow: inset 0 0 2px 2px #51bfd0;
          box-shadow: inset 0 0 2px 2px #51bfd0;
}

.containerFormRegistration form small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7% 0;
  color: red;
  width: 90%;
  margin: auto;
}

.containerFormRegistration form div {
  color: gray;
  width: 90%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerFormRegistration form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.containerFormRegistration form .button:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.containerFormRegistration form .button input[type="submit"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin-top: 1%;
  width: 37%;
  text-align: center;
  margin-left: 30%;
  background-color: #51bfd0;
  color: white;
  padding: 0.6rem;
}

.containerFormRegistration form .button input[type="submit"]:hover {
  background-color: transparent;
  color: #51bfd0;
  border: 1px solid #51bfd0;
  cursor: pointer;
}

.containerFormRegistration form .button a {
  margin-left: 5%;
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.containerFormRegistration form .button img {
  margin-left: 2%;
  color: gray;
  width: 40px;
}

.containerFormRegistration form input[type="file"] {
  display: none;
}

.containerFormRegistration form .avatar {
  width: 32%;
  text-align: center;
  background-color: #51bfd0;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 0.6rem;
}

.containerFormRegistration form .avatar:hover {
  background-color: transparent;
  color: #51bfd0;
  border: 1px solid #51bfd0;
  cursor: pointer;
}
/*# sourceMappingURL=home.css.map */